<?xml version="1.0" encoding="utf-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		id="net.randymcmillan.emailcomposer" 
		version="1.0.0">

	<name>Email Composer</name>
	<description>Email Composer plugin for Cordova</description>
	<author>Randy McMillan</author>
	<keywords>cordova, email, e-mail</keywords>
	<license>MIT</license>

	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="EmailComposer">
                <param name="ios-package" value="EmailComposer" />
			</feature>
		</config-file>

		<js-module src="www/EmailComposer.js" name="EmailComposer">
			<clobbers target="emailComposer" />
		</js-module>

		<header-file src="src/ios/EmailComposer.h" />
		<source-file src="src/ios/EmailComposer.m" />

		<framework src="MessageUI.framework" />

	</platform>

</plugin>